---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import SubLayout from "../../layouts/SubLayout.astro";
import SubContent from "../../components/SubContent.astro";
import SubBanner from "../../components/SubBanner.astro";
import SubMenu from "../../components/SubMenu.astro";
import SubCntBox from "../../components/SubCntBox.astro";

import TechCardType2 from "../../components/TechCardType2.astro";
import { technologyMenuItems } from "../../data/menus/technologyMenu2.js";
import { TechCardAudio01 } from "../../data/cards/TechCardAudio01.js";

const pageTitle = `Home > Technology`;
---

<Layout pageTitle={pageTitle} idName="Technology">
	<Header type="sub" />
	<SubBanner title="Technology" bgUrl="bg-intro" />
	<SubLayout>
		<SubMenu items={technologyMenuItems} />
		<SubContent>
			<div id="wrap2" class="tech">
				<!-- <SubCntBox subCntTit="" id="box0"> -->
				<section class="box" id="box0">
					<h1 class="sub-title">TruWave<sup>TM</sup> Concept</h1>
					<ul class="com-card type2">
						{
							TechCardAudio01.map((el, idx) => {
								return (
									<TechCardType2
										icon={TechCardAudio01[idx].icon}
										title={TechCardAudio01[idx].title}
										items={TechCardAudio01[idx].items}
									/>
								);
							})
						}
					</ul>
				</section>
				<section class="box" id="box0">
					<h1 class="sub-title">TruWave<sup>TM</sup> Audio Chain</h1>

					<h3 data-aos="fade-up" data-aos-delay="100" class="com-title sm">
						Example Audio Chain Configuration
					</h3>
					<ul
						data-aos="fade-up"
						data-aos-delay="200"
						class="custom-bullet-list"
					>
						<li>
							Audio chain can be re-arranged based on the system requirement
						</li>
						<li>Additional features can be implemented</li>
					</ul>
					<img
						data-aos="fade-up"
						data-aos-delay="300"
						class="aa mt40 pb100"
						style="width: 100%;"
						src="../img/audio-img01.jpg"
						alt=""
					/>
				</section>
			</div>
		</SubContent>
	</SubLayout>
</Layout>
