---
const { items } = Astro.props;
let counter = 0;
---

<nav class="sub-menu v-motion">
	<ul>
		{
			items.map((el, idx) => (
				<li>
					<a href={el.link}>
						{" "}
						<span>{el.name}</span>
					</a>
					{/*level2가 있을 경우 */}
					{el.level2 && el.level2.length > 0 && (
						<ul class="level2-menu">
							{el.level2.map((a, idx) => (
								<li>
									<a href="#none">{a.name}</a>
								</li>
							))}
						</ul>
					)}
				</li>
			))
		}
	</ul>

	<!-- 모바일용 select 메뉴 -->
	<select class="mobile-sub-menu">
		{
			items.map((el) => {
				if (el.level2) {
					return el.level2.map((a) => {
						const uniqueId = `box${counter++}`;
						return <option value={`#${uniqueId}`}>{a.name}</option>;
					});
				} else {
					const uniqueId = `box${counter++}`;
					return <option value={`#${uniqueId}`}>{el.name}</option>;
				}
			})
		}
	</select>
</nav>

<script>
document.querySelector(".mobile-sub-menu").addEventListener("change", function (e) {
    var selectedValue = this.value;
    var targetElement = document.querySelector(selectedValue);
    if (targetElement) {
        var targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        
        window.scrollTo({
            top: targetPosition - 150, // Adjust for any fixed elements, if necessary
            behavior: "smooth"
        });
    }
});

// iOS devices: Prevent scrolling on initial touch of the select element
if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
    document.querySelector(".mobile-sub-menu").addEventListener("touchend", function (e) {
        // Delay the focus event to prevent the default iOS scroll
        setTimeout(() => { this.blur(); }, 0);
    });
}

</script>
