---
const { items } = Astro.props;
let counter = 0;
---

<nav class="sub-menu v-motion">
	<ul>
		{
			items.map((el, idx) => (
				<li>
					<a href={el.link}>
						{" "}
						<span>{el.name}</span>
					</a>
					{/*level2가 있을 경우 */}
					{el.level2 && el.level2.length > 0 && (
						<ul class="level2-menu">
							{el.level2.map((a, idx) => (
								<li>
									<a href="#none">{a.name}</a>
								</li>
							))}
						</ul>
					)}
				</li>
			))
		}
	</ul>

	<!-- 모바일용 select 메뉴 -->
	<select class="mobile-sub-menu">
		{
			items.map((el) => {
				if (el.level2) {
					return el.level2.map((a) => {
						const uniqueId = `box${counter++}`;
						return <option value={`#${uniqueId}`}>{a.name}</option>;
					});
				} else {
					const uniqueId = `box${counter++}`;
					return <option value={`#${uniqueId}`}>{el.name}</option>;
				}
			})
		}
	</select>
</nav>

<script>
	document
		.querySelector(".mobile-sub-menu")
		.addEventListener("change", function (e) {
			var selectedValue = this.value;
			var stickyElementHeight = 150; // 상단 고정 요소의 높이

			var targetElement = document.querySelector(selectedValue);
			if (targetElement) {
				var targetPosition = targetElement.offsetTop + 110;
				if (window.matchMedia("(max-width: 768px)").matches) {
					targetPosition = targetElement.offsetTop + 80;
				}

				// 스크롤 이동
				window.scrollTo({
					top: targetPosition,
					behavior: "smooth", // 부드러운 스크롤 효과
				});
			}
		});

	// Prevent default scrolling on touchstart for iOS devices
	if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
		document
			.querySelector(".mobile-sub-menu")
			.addEventListener("touchstart", function (e) {
				e.preventDefault(); // Prevent the default scroll to top behavior
			});
	}
</script>
